.header-wrapper {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
  background-color: black;
  /* align-items: center; */
}

.header-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.header-logo {
  left: 48px;
  position: absolute;
  margin-right: 0;
  top: 18px;
}

.header-logo:hover {
  cursor: pointer;
}

.header-menu {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin-right: 48px;
}

.header-menu-items {
  padding-top: 6px;
}

.header-menu-item {
  font-weight: 700;
  margin-left: 10px;
  margin-right: 30px;
  white-space: nowrap;
  color: white;
}

.header-menu-items span:hover {
  color: #5ac53b;
  cursor: pointer;
}

.grey {
  color: "grey";
}

@media only screen and (max-width: 800px) {
  .header-wrapper {
    float: left;
    align-items: center;
  }

  .header-logo {
    position: initial;
  }

  .header-meunu-items {
    position: initial;
  }
}
